<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="app_School.Properties.Settings.SChoolConnectionString"
            connectionString="Data Source=DESKTOP-KVTPRR0\MSSQLSERVER01;Initial Catalog=SChool;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>